# TMDB Box Office Prediction

In this dataset, you are provided with 7398 movies and a variety of metadata obtained from The Movie Database (TMDB). Data points include cast, crew, plot keywords, budget, posters, release dates, languages, production companies, and countries.

You are predicting the worldwide revenue for the movies.

### Data
- Train (labelled): https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/tmdb_box_office_prediction/train.csv
- Test (unlabelled): https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/tmdb_box_office_prediction/test.csv

Link to the Kaggle competition: https://www.kaggle.com/c/tmdb-box-office-prediction/data

### Your task
1. Train `RandomForestRegressor` that predicts the value in the column `revenue`.
Select best parameters using cross-validation and evaluate the accuracy on 20% test data.
2. Predict revenues on the test file and submit your solution to Kaggle. Follow the link https://www.kaggle.com/c/tmdb-box-office-prediction/overview for further instructions.

### Scoring metric
In this competition, RMSLE (Root Mean Squared Logatirhmic Error) is used.
To optimize this metric, you need to
1. Before training, convert the target `y_from_data` using log-transformation
```
import numpy as np
y_for_training = np.log1p(y_from_data)
```
2. Before submission, convert your predictions `predicted_y` back using the inverse transformation:
```
import numpy as np
predictions_for_submission = np.expm1(predicted_y)
```

### Additional information
- API to get images: https://image.tmdb.org/t/p/w500/iEhb00TGPucF0b4joM1ieyY026U.jpg

In this competition, some data is represented in strings that have JSON-like format.
The code below shows how to handle such data in Pandas

In [ ]:
# short demo of Pandas datetime and JSON
# note that this is not a valid JSON - it uses single quotes instead of double quotes
input_csv = \
"""int_field,float_field,cat_field,json_field,datetime_field
42,3.14,Some Category,"[{'string_key': 'string value', 'int_key': 1}, {'string_key': 'string value 2', 'int_key': 2}]",05/14/19
15,2.72,Other Category,"[{'string_key': 'string value 2', THIS JSON IS BROKEN!",05/14/1991
"""

import pandas as pd
from io import StringIO

df = pd.read_csv(StringIO(input_csv), sep=",")

print(df['int_field'])
print(df['float_field'])
print(df['cat_field'])
print(df['json_field'])
print(df['datetime_field'])
df['parsed_datetime_field'] = pd.to_datetime(df['datetime_field'])
print(df['parsed_datetime_field'])

import json
def load_and_fix_json(s):
  # 1. fix JSON syntax: ' -> "
  s = s.replace("'", '"')
  # 2. handle broken JSON
  try:
    return json.loads(s)
  except:
    return None

# you can store arbitrary objects in Series
df['parsed_json_field'] = df['json_field'].apply(load_and_fix_json)
print(df['parsed_json_field'])

# feature engineering using df.apply
def extract_features_from_parsed_json(d):
  feature_names = ['has_int_value_greater_than_1', 'max_num_words_in_string_value']
  if d:
    features = [
        int(any([dd['int_key'] > 1 for dd in d])),
        max([len(dd['string_key'].split()) for dd in d])
    ]
  else:
    # empty or broken JSON
    features = [-1, -1]
    
  # return Series with column names
  return pd.Series(features, index=feature_names)

feature_engineered_df = df['parsed_json_field'].apply(extract_features_from_parsed_json)
pd.concat([df, feature_engineered_df], axis=1)

0    42
1    15
Name: int_field, dtype: int64
0    3.14
1    2.72
Name: float_field, dtype: float64
0     Some Category
1    Other Category
Name: cat_field, dtype: object
0    [{'string_key': 'string value', 'int_key': 1},...
1    [{'string_key': 'string value 2', THIS JSON IS...
Name: json_field, dtype: object
0      05/14/19
1    05/14/1991
Name: datetime_field, dtype: object
0   2019-05-14
1   1991-05-14
Name: parsed_datetime_field, dtype: datetime64[ns]
0    [{'string_key': 'string value', 'int_key': 1},...
1                                                 None
Name: parsed_json_field, dtype: object

   int_field  ...  max_num_words_in_string_value
0         42  ...                              3
1         15  ...                             -1

[2 rows x 9 columns]

In [ ]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/tmdb_box_office_prediction/train.csv')
test_df = pd.read_csv('https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/tmdb_box_office_prediction/test.csv')
y_from_data = np.array(train_df['revenue'])
y = np.log1p(y_from_data)
train_df.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [ ]:

del train_df['revenue']

train_df['homepage'] = train_df['homepage'].fillna(-1)
train_df['production_companies'] = train_df['production_companies'].fillna(-1)
train_df['belongs_to_collection'] = train_df['belongs_to_collection'].fillna(-1)
train_df['production_countries'] = train_df['production_countries'].fillna(-1)
train_df['Keywords'] = train_df['Keywords'].fillna(-1)
train_df['tagline'] = train_df['tagline'].fillna(-1)
train_df['spoken_languages'] = train_df['spoken_languages'].fillna(-1)
train_df['crew'] = train_df['crew'].fillna(-1)
train_df['cast'] = train_df['cast'].fillna(-1)
train_df['overview'] = train_df['overview'].fillna(-1)
train_df['genres'] = train_df['genres'].fillna(-1)
train_df['poster_path'] = train_df['poster_path'].fillna(-1)
train_df['runtime'] = train_df['runtime'].fillna(-1)

features1 = ['belongs_to_collection', 'release_date', 'imdb_id', 'genres', 'original_language', 'homepage', 'original_title', 'overview', 'poster_path', 'production_companies', 'production_countries', 'spoken_languages', 'status','tagline','title', 'Keywords', 'cast', 'crew']
feautres = ['budget', 'popularity', 'original_language']

In [ ]:
test_df['homepage'] = test_df['homepage'].fillna(-1)
test_df['production_companies'] = test_df['production_companies'].fillna(-1)
test_df['belongs_to_collection'] = test_df['belongs_to_collection'].fillna(-1)
test_df['production_countries'] = test_df['production_countries'].fillna(-1)
test_df['Keywords'] = test_df['Keywords'].fillna(-1)
test_df['tagline'] = test_df['tagline'].fillna(-1)
test_df['spoken_languages'] = test_df['spoken_languages'].fillna(-1)
test_df['crew'] = test_df['crew'].fillna(-1)
test_df['cast'] = test_df['cast'].fillna(-1)
test_df['overview'] = test_df['overview'].fillna(-1)
test_df['genres'] = test_df['genres'].fillna(-1)
test_df['poster_path'] = test_df['poster_path'].fillna(-1)
test_df['runtime'] = test_df['runtime'].fillna(-1)
test_df['title'] = test_df['title'].fillna(-1)
test_df['release_date'] = test_df['release_date'].fillna(-1)
test_df['status'] = test_df['status'].fillna(-1)

In [ ]:
test_df[test_df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew]
Index: []

In [ ]:
from sklearn.model_selection import train_test_split

df_cat_train, df_cat_test, y_cat_train, y_cat_test = train_test_split(train_df, y, test_size=0.2, random_state=42)

In [ ]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.14.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: enum34 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.6)
Requirement already satisfied: pandas>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.24.2)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.16.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.1->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.1->catboost) (2.5.3)

In [ ]:
import catboost as cb

train_pool = cb.Pool(df_cat_train, y_cat_train, cat_features=features)
test_pool = cb.Pool(df_cat_test, y_cat_test, cat_features=features)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import GridSearchCV

clf = cb.CatBoostRegressor(n_estimators=4000, learning_rate=0.05)
clf.fit(train_pool, verbose=False)

print("train RMSE:", np.sqrt(mean_squared_error(train_pool.get_label(), clf.predict(train_pool))))
print("test RMSE:", np.sqrt(mean_squared_error(test_pool.get_label(), clf.predict(test_pool))))

train RMSE: 1.826524213982597
test RMSE: 2.108615886268768

In [ ]:
for fname, fstr in sorted(
    zip(
        train_df,
        clf.get_feature_importance()
    ),
    key=lambda x: -x[1]
):
  print(fname, fstr)

budget 33.70818670881145
popularity 19.57688249424994
original_language 11.219266079278277
runtime 7.083876354225955
id 6.045581282388144
genres 3.8984772779184977
production_countries 3.885659838152616
spoken_languages 3.4646680627240785
belongs_to_collection 3.0437754625329383
production_companies 2.0439923580303376
homepage 1.7869584130742255
tagline 1.4684131595542471
Keywords 1.284751774791662
release_date 1.0115850446107155
original_title 0.27102852629407687
overview 0.10389683452181002
status 0.07487992664893219
cast 0.028120402192268294
imdb_id 0.0
poster_path 0.0
title 0.0
crew 0.0

In [ ]:
test_df['revenue'] = np.expm1(clf.predict(cb.Pool(test_df, cat_features=features)))
test_df.head()

     id  ...       revenue
0  3001  ...  4.445745e+06
1  3002  ...  2.404347e+06
2  3003  ...  4.760961e+06
3  3004  ...  1.259820e+07
4  3005  ...  1.359858e+06

[5 rows x 23 columns]

In [ ]:
test_df[['id','revenue']].to_csv('t.csv', index=False)